.About{
  bottom:10rem;
  animation: aboutanime 25s ease-out;
}
@keyframes aboutanime {
    0%{
        transform:translateY(-50px);
        opacity: 0;
    }
}
.About h1{
    padding-top: 1rem !important;
    text-align: center;
    color: black;
}
.About p{
  color: black;
  font-size: 20px;
  padding-left:5rem;
  text-align: justify;
  padding-right:5rem;
}